# SPDX-License-Identifier: GPL-2.0

menu "Accelerated Cryptographic Algorithms for CPU (riscv)"

config CRYPTO_GHASH_RISCV64
	tristate "Hash functions: GHASH"
	depends on 64BIT && (RISCV_ISA_ZBC || RISCV_ISA_V)
	select CRYPTO_HASH
	select CRYPTO_LIB_GF128MUL
	help
	  GCM GHASH function (NIST SP800-38D)

	  Architecture: riscv64 using one of:
	  - Zbc extension
	  - Zbc + Zbb extensions
	  - Zbc + Zbkb extensions
	  - Zvbb vector crypto extension
	  - Zvkg vector crypto extension

config CRYPTO_SHA256_RISCV64
	tristate "Hash functions: SHA-256"
	depends on 64BIT && RISCV_ISA_V
	select CRYPTO_HASH
	select CRYPTO_LIB_SHA256
	help
	  SHA-256 secure hash algorithm (FIPS 180)

	  Architecture: riscv64 using
	  - Zvknha or Zvknhb vector crypto extensions

config CRYPTO_SHA512_RISCV64
	tristate "Hash functions: SHA-512"
	depends on 64BIT && RISCV_ISA_V
	select CRYPTO_HASH
	select CRYPTO_SHA512
	help
	  SHA-512 secure hash algorithm (FIPS 180)

	  Architecture: riscv64
	  - Zvknhb vector crypto extension

endmenu
