# SPDX-License-Identifier: GPL-2.0

menu "Accelerated Cryptographic Algorithms for CPU (riscv)"

config CRYPTO_AES_RISCV
	tristate "Ciphers: AES (RISCV)"
	depends on 64BIT && RISCV_ISA_V
	select CRYPTO_AES
	help
	  Block ciphers: AES cipher algorithms (FIPS-197)
	  Length-preserving ciphers: AES with ECB, CBC, CTR, CTS,
	    XCTR, and XTS modes
	  AEAD cipher: AES with CBC, ESSIV, and SHA-256
	    for fscrypt and dm-crypt

	  Architecture: riscv using one of
	  - Zvkns

config CRYPTO_GHASH_RISCV64
	tristate "Hash functions: GHASH"
	depends on 64BIT && (RISCV_ISA_ZBC || RISCV_ISA_V)
	select CRYPTO_HASH
	select CRYPTO_LIB_GF128MUL
	help
	  GCM GHASH function (NIST SP800-38D)

	  Architecture: riscv64 using one of:
	  - Zbc extension
	  - Zbc + Zbb extensions
	  - Zbc + Zbkb extensions
	  - Zvbb vector crypto extension
	  - Zvkg vector crypto extension

config CRYPTO_SHA256_RISCV64
	tristate "Hash functions: SHA-256"
	depends on 64BIT && RISCV_ISA_V
	select CRYPTO_HASH
	select CRYPTO_LIB_SHA256
	help
	  SHA-256 secure hash algorithm (FIPS 180)

	  Architecture: riscv64 using
	  - Zvknha or Zvknhb vector crypto extensions

config CRYPTO_SHA512_RISCV64
	tristate "Hash functions: SHA-512"
	depends on 64BIT && RISCV_ISA_V
	select CRYPTO_HASH
	select CRYPTO_SHA512
	help
	  SHA-512 secure hash algorithm (FIPS 180)

	  Architecture: riscv64
	  - Zvknhb vector crypto extension

config CRYPTO_SM4_RISCV64
	tristate "Ciphers: SM4 (ShangMi 4)"
	depends on 64BIT && RISCV_ISA_V
	select CRYPTO_ALGAPI
	select CRYPTO_SM4
	select CRYPTO_SM4_GENERIC
	help
	  SM4 cipher algorithms (OSCCA GB/T 32907-2016,
	  ISO/IEC 18033-3:2010/Amd 1:2021)

	  SM4 (GBT.32907-2016) is a cryptographic standard issued by the
	  Organization of State Commercial Administration of China (OSCCA)
	  as an authorized cryptographic algorithms for the use within China.

	  Architecture: riscv64
	  - Zvksed vector crypto extension

endmenu
